@keyframes loading {
from {
    left: 0;
}
    50% {
        left: 80%;
    }
to {
    left: 0;}
}

html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
}
label {
    margin-bottom: 0;
}

.about {
    width: 100%;
}
.about p {
    line-height: 1;
}
.about h2 {
    margin-bottom: 25px;
}

.login-form {
    margin-top: 100px;
    text-align: center;
    border: 1px solid #999;
    padding: 25px;
}

.login-form label {
    margin-top: 15px;
}

.login-form label:first-child {
    margin-top: 0;
}

.login-form input {
    width: 100%;
}

.login-form .login-submit-btn {
    margin-top: 25px;
}

.header {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #999999;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header .admin-link {
    color: rgba(255,255,255, .8);
    text-decoration: none;
    font-size: 24px;
}
.header .sign-links a {
    color: rgba(255,255,255, .8);
    margin-left: 15px;
}

.header .add-new-insta-group label {
    color: rgba(255,255,255, .8);
    margin-right: 5px;
}

.header .add-new-insta-group input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.header .add-new-insta-group button {
    border: none;
    margin-top: -3px;
}

.sidebar-wrapper {
    width: 20%;
    margin-top: 45px;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, .2);
}
.sidebar-wrapper h4 {
    font-size: 18px;
    color: #333;
    margin: 15px 0 10px;
    text-align: center;
}
.sidebar {
    padding: 15px 15px 60px;
    height: 100%;
}

.sidebar ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0 0 50px 0;
}
.sidebar ul::-webkit-scrollbar {
    display: none;
}
.sidebar-item {
    display: block;
    width: 100%;
    position: relative;
    transition: all .3s ease;
    margin-bottom: 10px;
}
.sidebar-item:last-child {
    margin-bottom: 0;
}
.sidebar-item:hover {
    transition: all .3s ease;
}

.sidebar-item a {
    font-size: 14px;
    display: block;
    margin: 0;
    padding: 10px 0;
    transition: all .3s ease;
}

.sidebar-item a:hover{
    text-decoration: none;
    transition: all .3s ease;
}

.content {
    position: relative;
    width: 80%;
    display: flex;
    margin-left: 20%;
    margin-top: 21px;
    text-align: center;
    flex-direction: column;
}
.items {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.successful-registration {
    margin-top: 100px;
}

.settings-form label{
    display: block;
    text-align: right;
    margin-top: 10px;
}
.settings-form input {
    margin-top: 10px;
}

.settings-row p {
    text-align: right;
}

.setting-title {
    text-align: right;
}
.setting-value {
    text-align: left;
}
.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: red;
}
.popup-counter {
    display: none;
    position: fixed;
    width: 260px;
    height: 140px;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -70px;
    background-color: #fff;
    z-index: 5;
    padding: 25px;
    box-shadow: 0 0 250px 400px rgba(0,0,0,.75);
    transition: ease .3s;
}
.loading-bar {
    margin-top: 20px;
    height: 2px;
    width: 100%;
    background-color: #aaaaaa;
    position: relative;
}
.loading-bar .loading-bar-item {
    position: absolute;
    width: 20%;
    height: 4px;
    top: -1px;
    background-color: #007bff;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.insta-item {
    position: relative;
    width: 300px;
    height: 405px;
    border: 1px solid rgba(0,0,0, .35);
    margin: 15px;
    box-shadow: 0 0 5px 1px rgba(0,0,0, .5);
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.insta-item .item-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: ease all .3s;
}
.insta-item.selected-item{
    background-color: rgba(4, 219, 87, 0.9);
}
.insta-item.selected-item .item-img:after {
    opacity: 1;
}

.insta-item .item-img {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0, .35);
}

.insta-item .item-img img {
    display: block;
    height: auto;
    max-height: 300px;
    width: 100%;
    margin: auto;
    max-width: 100%;
    transition: ease all .3s;
}
.insta-item:hover {
    box-shadow: 0 0 20px 2px rgba(4, 219, 87, 0.9);
}
.insta-item:hover .item-img img {
    transform: scale(1.1);
}

.insta-item .item-date {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    margin-left: 20px;
}

.insta-item .item-descr {
    margin-top: 10px;
    padding: 0 15px;
}

.options-bar {
    z-index: 1;
    background-color: rgba(240, 240, 240, 0.95);
    border-bottom: 1px solid rgba(165, 165, 165, 0.95);
    box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.8);
    height: 50px;
    width: 80%;
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: fixed;
}

.first_post_now input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.post_description input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
