{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <link rel="stylesheet" href="{% static 'libs/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="successful-registration">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h2>Подверждение регистрации</h2>
                <p>Пожалуйста подтвердите свой email</p>
                <p>Сообщение было отправлено на указанный вами email</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>